* {
    margin: 0;
    padding: 0;
}

    header {
        height: 50px;
        width: 970px;
        padding: 15px;
        background-color: #f9f9f9;
    }
        h1 {
            margin-right: 350px;
            display: inline-block;
            vertical-align: center;
            font-family: 'comic sans ms', 'comic sans', cursive;
            text-align: left;
        }
        h2 {
            display: inline-block;
            font-family: helvetica, arial, sans-serif;
            text-align: right;
        }

    .section {
        display: block;
    }
    .main {
        height: 970px;
        width: 970px;
        padding: 15px;
        background-image: radial-gradient(circle, #6f5964, #4f3b43, #1d0d11);
    }
        .portrait {
            height: 277px;
            width: 427px;
            margin: 15px;
            padding: 3px;
            display: inline-block;
            vertical-align: top;
            outline: 3pt solid #C0C0C3;
        }

        .about {
            height: 290px;
            width: 445px;
            margin-top: 10px;
            margin-left: 30px;
            display: inline-block;
            background-image: linear-gradient(to left, #d7c8d6 , #fefefe);
        }
            h3{
                height: 22px;
                padding: 3px;
                display: block;
                vertical-align: top;
                background-image: linear-gradient(#a9a9ae, #888694, #a9a9ae);
                font-family: Arial, Helvetica, sans-serif;
            }
            .coverletter {
                height: 223px;
                margin: 3px;
                padding: 3px;
                padding-top: 5px;
                font-family: Arial, Helvetica, sans-serif;
            }
            .coverletterlink {
                margin-top: 9px;
                padding: 3px;
                font-family: Arial, Helvetica, sans-serif;
                color: black;
            }

        .portfolio {
            height: 600px;
            width: 300px;
            margin: 7px;
            display: inline-block;
            vertical-align: top;
            background-image: linear-gradient(to left, #d7c8d6 , #fefefe);
        }
        .website {
            width: 300px;
        }
        .eg {
            height: 200px;
            margin: 3px;
            padding: 5px;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 12pt;
        }
        h4 {
            height: 18px;
            margin-bottom: 7px;
            padding: 3px;
            display: block;
            vertical-align: top;
            background-image: linear-gradient(#a9a9ae, #888694, #a9a9ae);
            font-family: Arial, Helvetica, sans-serif;
        }
        .credential {
            max-height: 50px;
            display: inline-block;
        }
        .button {
            height: 20px;
            width: 100px;
            margin: 10px 75px;
            padding: 4px;
            display: block;
            vertical-align: bottom;
            background-color: #407d61;
            border: 1pt solid #33664f;
            border-radius: 15px;
            box-shadow: 3px 3px #898b8a;
            font-family: Arial, Helvetica, sans-serif;
            color: white;
            font-size: 10pt;
            text-align: center;
            text-decoration: none;
        }

    footer {
        height: 50px;
        width: 970px;
        padding: 15px;
        background-color: #f9f9f9;
    }
        .contact {
            font-family: Arial, Helvetica, sans-serif;
            text-align: center;
        }
        .linkblock {
            margin-top: 3px;
            text-align: center;
        }
        .footsocials {
            max-height: 20px;
            display: inline-block;
            }
        .social-links {
            font-family: Arial, Helvetica, sans-serif;
            font-style: italic;
            color: black;
            text-align: center;
        }